html, body {   
    background-color: #333; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.btn {
    display: inline-block;
    height: 100%;
    width: 49%;
    margin-bottom: 0;
    color: #ddd;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #1e5799;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid #2671c4
}

.btnMain {
    width: 99%;
    margin-top: 5px;
}

.btnMain2
{
    width: 95%;
    margin-top: 5px;
}

.answerButton{
    width: 47%;
    margin: 2px 0 2px 0;
}


.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover {
    color: #AE37B2;
    text-decoration: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.left {
    float: left;
}

.right {
    float: right;
}

#content {
    height: 100%;
    width: 100%;
}

.titleWrapper {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    position: absolute;
    width: 96%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.title {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color : #ddd;
}


.title2 {
    margin: 0px auto;
    text-align: left;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color : #ddd;
}


.buttons {
    width: 100%;
    text-align: center;
}


.info label {
    display: block;
}

.info input {
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    color: #A22FB0;
    font-weight: 300;
    font-size: 34px;
    border: 1px dotted white;
    background: transparent;
}

.info input#inputPlayerName {
    width: 92%;
}

.info input#inputPlayerAnswer {
    width: 84%;
    
}

.info input#inputGameId {
    width: 92%;  
}

.info input#inputAnswer {
    width: 88%;  
}


.playerScore {
    width: 98%;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.playerScore span {
    display: inline-block;
    font-size: 1.4EM;
    padding: 2%;
    min-width: 10%;
    margin: 0;
}

.playerScore .score {
    text-align: center;
    background-color: #a22fb0
}

.playerScore .playerName {
    width: 77%;
    background-color: #ddd;
}


#player1Score {
    margin-bottom : 4px;
}


#activeGame
{
     margin-left: 5%;
}

#player2Id
{
    text-align:right;
}

#questionArea
{
    font-size:18px;
}

#questionArea1,#firstComplete,#secondComplete
{
    font-size:18px;
    font-weight:bold;
}


.show{
    visibility:visible;
}

.hide{
    visibility:hidden;
    display:none;
}